* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
  background-color: #000;
}
#mainCanvas {
  background-color: #100;
  /* background-image: url("images/wallpaper.png");
  background-position: 95px 100px;
  background-size: 90%;
  background-repeat: no-repeat; */
}
