* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #000;
}
body {
  display: flex;
  justify-content: center;
  align-items: top;
  max-height: 98vh; /* Macht den Body mindestens so hoch wie das Viewport */
  max-width: 98vw;
  background-color: #000; /* Beispiel-Hintergrund */
  overflow: hidden;
}
#gameWrapper {
  position: relative; /* WICHTIG: Erlaubt absolute Positionierung der Kinder */
  width: 95%;
  /* height: 100%; */
  background-image: url("../assets/img/efh_title.webp");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  /* border: 2px solid greenyellow; */
  /* width: 1750px;/*
  /* height: 900px;*/
}
#startButton {
  position: absolute; /* Positioniert den Button relativ zum #gameWrapper */
  top: 50%; /* Startet bei 50% von oben */
  left: 15%; /* Startet bei 50% von links */
  transform: translate(-50%, -50%); /* ZENTRIERT den Button exakt */

  /* padding: 20px 40px;
  font-size: 24px;
  background-color: limegreen;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  z-index: 10; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease; */
}
#optionsButton {
  position: absolute; /* Positioniert den Button relativ zum #gameWrapper */
  top: 60%; /* Startet bei 50% von oben */
  left: 15%; /* Startet bei 50% von links */
  transform: translate(-50%, -50%); /* ZENTRIERT den Button exakt */
}
#returnButton {
  position: absolute; /* Positioniert den Button relativ zum #gameWrapper */
  top: 75%; /* Startet bei 50% von oben */
  left: 50%; /* Startet bei 50% von links */
  transform: translate(-50%, -50%); /* ZENTRIERT den Button exakt */
}
#mainCanvas {
  display: block; /* Entfernt eventuelle Leerräume unter dem Canvas */
  background-color: #000;
  width: 100%; /* Macht Canvas so breit wie der Wrapper */
  height: 100%; /* Macht Canvas so hoch wie der Wrapper */
  opacity: 0%;

  /* background-image: url("images/wallpaper.png");
  background-position: 95px 100px;
  background-size: 90%;
  background-repeat: no-repeat; */
}
